In [1]:
a=10

In [2]:
a='c'

In [3]:
type(a)

str

In [4]:
int('123')

123

In [5]:
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

In [ ]:
print("Hello World")

Hello World

In [ ]:
print(123)

123

In [ ]:
age=32
print("My age is:",age)

My age is: 32

In [ ]:
##  f string is nothing but it is used for formatting it is used to call the varible in print statement without using comma.
print(f"My age is: {age}")

My age is: 32

In [ ]:
## format()
name="Krish"
age=32
print("My name is {} and age is {}".format(name,age))

My name is Krish and age is 32

In [ ]:
print("My name is {} and age is {}".format(age,name))

My name is 32 and age is Krish

In [ ]:
##placeholder
print("My name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

My name is Krish and age is 32

In [ ]:
name="sonu"
age=21
degree="B.tech"

" My age is 21 and i have completed: my degree of B.tech with the name of sonu"

' My age is 21 and i have completed: my degree of B.tech with the name of sonu'

In [ ]:
print("My age is {} and i have completed: my degree {} with the name of {}".format(age,degree,name))

My age is 21 and i have completed: my degree B.tech with the name of sonu

In [ ]:
print(f"My age is {age} and I have completed: my degree of {degree} with the name of {name}")

My age is 21 and I have completed: my degree of B.tech with the name of sonu

## control flow
### Decision making statements

1. if
2. if else
3. if elif else
4. nested if
5. single statement suites

In [ ]:
## if statements
age=18
if age>=18:
    print("you are eligible to vote")

you are eligible to vote

In [ ]:
## if statements
age=17
if age<=17:
    print("you are not eligible to vote")

you are not eligible to vote

In [ ]:
18<=18

True

In [ ]:
name=input("enter the name")

enter the name sonu

In [ ]:
name

'sonu'

In [ ]:
age=int(input("enter your age"))

enter your age 21

In [ ]:
type(age)

int

In [ ]:
##Task
## Take a input of age
## check whether age >=18 and age<=45
## display a message you are young blood

In [ ]:
age=int(input("Enter the age"))
if age>=18 and age<=45:
    print("you are young blood")

Enter the age 21

you are young blood

In [ ]:
21>=18 and 22<=45

True

In [ ]:
age=int(input("Enter the age"))
if age>=18 and age<=45:
    print("you are young blood")

Enter the age 55

In [ ]:
## if else statement
age=int(input("Enter the age"))
if age>=18 and age<=45:
    print("you are young blood")
else:
    print("thank you we will let you know")

Enter the age 55

thank you we will let you know

In [ ]:
## mall - input the product price
## product >1000 rs 20% off
## print the product price after removing the discount
## product <=1000 rs 30% off
## print the product price after removing the discount

In [ ]:
product_price=int(input("Enter the price"))
if product_price>1000:
    print("The price of the product is {}".format(product_price*0.8))
else:
    print("The price of the product is {}".format(product_price*0.7))

Enter the price 100

The price of the product is 70.0

In [ ]:
product_price=int(input("Enter the price"))
if product_price>1000:
    print(f"The price of the product is {product_price*0.8}")
else:
    print(f"The price of the product is {product_price*0.7}")

Enter the price 100

The price of the product is 70.0

In [ ]:
## mall - input the product price
## product >3000 rs 20% off
## price is ==4000 you get a trip to Goa
## print the product price after removing the discount
## product >=2000 rs and <=3000 30% off
## print the product price after removing the discount
## price ==2999  u will get adiitional gift
## product 100 rs and <=2000 40% off
## print the product price after removing the discount

In [ ]:
product_price=int(input("Enter the price"))
if product_price>3000:
    if product_price==4000:
        print("you will get a goa trip")
    print("the price of the product is{}".format(product_price*0.8))
elif product_price>=2000 and product_price <=3000:
    if product_price==2999:
        print("congratulations you get an additional gift ")
    print("the price of the product is{}".format(product_price*0.7))
elif product_price>=100 and product_price<=2000:
    print("the price of the product is{}".format(product_price*0.6))
else:
    print("lets drink tea")
    print("i will also be there")

Enter the price 100

the price of the product is60.0

In [ ]:
## Single statement Suites
val=int(input('Enter the number'))
if(val<=999):print("Value is less than equal to 999")
else:
    print("Go Home")

Enter the number 1000

Go Home

## loops statements
1. while loop
2. for loop
3. nested loops
4. loop control(break,continue,pass)

In [6]:
# while loop we can use else with while loop while will iterate until the condition is true
joinig_age=25
while joinig_age<=60:
    print(joinig_age)
    joinig_age=joinig_age+1
else:
    print("its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
its time for retirement

In [11]:
### atm machine = 1000rs
total_amount=1000
while total_amount!=0:
    total_amount=total_amount-100
    print(total_amount)
else:
    print("put money bank people")

900
800
700
600
500
400
300
200
100
0
put money bank people

## for loop

In [23]:
lst=["apple",1,2,3,"banana","sonu"]

In [13]:
type(lst)

list

In [14]:
lst[0]

'apple'

In [15]:
lst[2]

2

In [17]:
lst[5]

'sonu'

In [18]:
lst

['apple', 1, 2, 3, 'banana', 'sonu']

In [20]:
for x in lst:   ## x is a temporary element which iterate through the list  in for loop infinite iteration is not present.
    print(x)

apple
1
2
3
banana
sonu

In [11]:
fruit_list=["banana","apple","cheery","papaya","mango"]

In [12]:
for a in fruit_list:
    print(a)
    if a=="cheery":
        print("The fruit is cheery")

banana
apple
cheery
The fruit is cheery
papaya
mango

In [13]:
for a in fruit_list:
    print(a,end=' ')
    if a=="cheery":
        print("The fruit is cheery")

banana apple cheery The fruit is cheery
papaya mango

In [14]:
## break
for a in fruit_list:
    print(a)
    if a=="cheery":
        print("The fruit is cheery")
        break

banana
apple
cheery
The fruit is cheery

In [16]:
fruit='mango'    ##string is also a collection of elements in print statement \n is by default
for x in fruit:
    print(x)

m
a
n
g
o

In [19]:
fruit[2]

'n'

In [ ]:
##Return an object that produces a sequence of integer from start(inclusive) to stop(exclusive) by step.

In [21]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [23]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [39]:
## nested loops \r is used to chnage the line and next line start from left most side
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end='')
    print("\r")

*
**
***
****
*****
******
*******

In [2]:
##loop controls
## break and continue
fruit_list=["banana","apple","cheery","papaya","mango"]

In [46]:
## break
for i in fruit_list:
    if i=="apple":
        print("The fruit is apple")
        break
    print(i)

banana
The fruit is apple

In [6]:
## pass
for i in fruit_list:
    if i=="apple":
        print("The fruit is apple")  ##pass means just pass donot do anything
        pass
    print(i)

banana
The fruit is apple
apple
cheery
papaya
mango

In [5]:
## continue 
for i in fruit_list:
    if i=="apple":
        print("The fruit is apple")
        continue
    print(i)

banana
The fruit is apple
cheery
papaya
mango